*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    margin: 0;
    color: red;
    float: right;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
p{
    color: white;
}
html {
    scroll-behavior: smooth;
}
.container1{
    overflow: auto;
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url('home.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.navbar{
height: 100px;
width: 100%;
/* border: 1px solid purple; */



}

.navbar ul{
    float: right;
       
}

.navbar ul li{ 
    display: inline-block;    
    line-height: 100px;
}

.navbar li a{
color:white;
/* float: right; */
margin: 0 35px;
font-weight: 600;
font-size: 18px;
text-decoration: none;

}
.navbar li a:hover{
padding: 3px 20px;
color: #fc0707;
}
.myphoto{
width: 100%;
height: 300px;
/* border: 1px solid black; */

}

.myphoto img {

margin-top: 30px;
width:300px ;
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;



}
pre {
font-size: 30px;

font-family: "Times New Roman", Times, serif;
}
button {

/* border: 1px solid yellow; */
margin: 20px auto;
display: block;
width: 140px;
height: 30px;
background-color: white;
border: none;
cursor: pointer;
font-size: 18px;




}

button:hover {
background-color: rgb(138, 133, 133);
color: white;
}

.container2{
    overflow: auto;
    height: 100vh;
    width: 100%;
    background-image: url("info.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid white; */
}
.content{
    margin: 150px;
    float: right;
    height: 50vh;
    width: 50vw;
    /* border: 1px solid yellow; */

}
.content p{
     
    font-size:1.5rem;
}
.head{
    
    float: right;
    height: 150px;
    width: 50vw;
    /* border: 1px solid black; */
    
    

}
.head img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    /* border: 1px solid red; */
}

.head h1{
   text-align: center;
   
}

@media(min-width:700px) and (max-width:1120px){
    .container2 {
        background-image: url("background.jpg");
    }
    .head{

        margin-top: 15vh;
        width: 80vw;
    }
    .content{
        height: 70vh;
        width:70vw;
        margin: 100px;
    }
    .myphoto img{
        margin-top: 10vh;
    }

    
}
@media(min-width:605px) and (max-width:700px){
    
    /* .navbar li a{
        margin: 0 15px;
    } */
    .container1{
        background-image: url("background.jpg");
    }
    .myphoto img{
        margin-top: 10vh;
    }
    pre{
        font-size: 24px;
    }
    .container2 {
        height: 100vh;
        background-image: url("background.jpg");
    }
   
    /* .content{
        margin: 100px;
        float: none;
        position: relative;
        right: 10%;
        top: 20%;
        height: 50vh;
        width: 90vw;
        border: 1px solid yellow;
    
    } */
    .content{
        margin: 25% 10% 25% 10%;
        border: 1px solid yellow;
        height: 50vh;
        width: 70%;
    }
    .head{
        
        float: none;
        height: 150px;
        width: 70%;
        border: 1px solid black;
        
        
    
    }
    .menu{
        display: block;
    }
    .navbar{
        display: none;
        background-image: none;
        /* border: 1px solid yellow; */
        width: 100%;
        background-color: black;
        
        height: 100vh;
    }
    .navbar ul li {
        
        display:list-item ;
        text-align: center;
        
    }
    
    .navbar ul{
        /* border: 1px solid yellow; */
        float: none;
    }


}
@media(min-width:300px) and (max-width:605px){
  /* *{
      font-size: 10px;
  } */
  button{
      height: 60px;
  }
  .menu{
    display: block;
}
.navbar{
    display: none;
    background-image: none;
    /* border: 1px solid yellow; */
    width: 100%;
    background-color: black;
    
    height: 100vh;
}
.navbar ul li {
    
    display:list-item ;
    text-align: center;
    
}

.navbar ul{
    /* border: 1px solid yellow; */
    float: none;
}

  
    pre{
      display: none;
  }
 
  .myphoto img{
    margin-top: 10vh;
}
.container1{
    background-image: url("background.jpg");
}
.container2 {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url("mob.jpg");
}
.myphoto{
    height: 200px;
}


/* .content{
    margin: 100px;
    float: none;
    position: relative;
    right: 10%;
    top: 20%;
    height: 50vh;
    width: 90%;
    border: 1px solid yellow;

} */
.content{
    margin: 25% 5% 25% 5%;
    /* border: 1px solid yellow; */
    height: 80vh;
    width: 90%;
    /* border: 1px solid red; */
}
.content p{
    font-size: 0.9rem;
    color: white;
}
.head{
    
    float: none;
    text-align: center;
    height: 150px;
    width: 100%;
    /* border: 1px solid red; */
}
.navbar li a{
    margin: 0 15px;
}




}
@media(min-width:300px) and (max-width:350px){
    .myphoto{
        width: 100%;
        height: 300vh;
        /* border: 1px solid black; */
        
        }
        
        .myphoto img {
        
        margin-top: 30%;
        width:60% ;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;   
        }
        .container1 h1{
            font-size: 1.5rem;
        }
        button{
        height: 7vh;
        }

}
